<div class="general-styles">
    <div class="mx-auto w-full sm:w-4/5 lg:w-3/5 xl:w-2/3">
        <nav class="bg-gray-800 rounded-3xl fixed top-8 z-10 w-full sm:w-4/5 lg:w-3/5 xl:w-2/3 h-30 py-7" style="background-color: #DBD8D8;">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between">
                <!-- Logo -->
                <a href="#" class="flex-shrink-0 flex items-center">
                    <img class="h-10 w-auto" src="assets\logoDmosoft.png" alt="Logo">
                </a>
                
                <!-- Texto centrado horizontalmente -->
                <div class="flex items-center mx-auto">
                    <div class="h-full mx-4 border-b-2 border-transparent"></div>
                    <p class="text-3xl text-center">EJECUCIÓN DE SCRIPTS</p>
                </div>          
            </div>
        </nav>
    </div>
</div>



<app-tabla-scripts/>
<router-outlet></router-outlet>